body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2e7dc;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #732405;
}

button {
    background-color: #732405;
    color: #f2e7dc;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #6e91ac;
}
